{% extends "layout.html" %}

{% block title %}
  Lessons  Page
{% endblock %}

{% block content %}
<section class="about" id="about-page">
    <div class="row">
        <div class="image">
            <img src="../static/images/about2.png" alt="">
        </div>
        <div class="content">
            <h1>About<span> Us</span></h1>
            <p>Our website offers three core lessons to help users get started with sign langauge numbers, finger-spelling, and basic words. we incorporate hand gesture recognition technology to make learning more interactive and engaging.  Our User-centred design makes our site accessible, Easy to Navigate, and Visually Clear</p>
          <div class="about_cards">
        <article class="about_card">
          <span class="about_icon">
            <i class="fas fa-graduation-cap"></i>
          </span>
          <h3>3+</h3>
          <p>Lessons</p>
        </article>
        <article class="about_card">
          <span class="about_icon">
            <i class="fas fa-face-smile"></i>
          </span>
          <h3>0+</h3>
          <p>satisfaction</p>
        </article>
        <article class="about_card">
          <span class="about_icon">
            <i class="fas fa-user-graduate"></i>
          </span>
          <h3>0+</h3>
          <p>satisfaction</p>
        </article>
      </div>
        </div>

    </div>
</section>

{% endblock %}
<!--The reference for the following images:
The about2.png purchaesed from istockphot website
(https://www.istockphoto.com/plans-and-pricing/photos)---->
