{% extends "layout.html" %}

{% block title %}
  Right Numbers lessons
{% endblock %}

{% block content %}

<section class="full-container" id="full-container">
    <div class="row">
        <div class="content">
            <h3>Learn the Digits Signs<span> (Left & Welsh)</span></h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
              when an unknown printer took a galley of type and scrambled it to make a type specimen book.
              It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
              It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
          </p>
        </div>
    </div>
</section>
<section class="count-full-container">
    <div class="box-container">
        <div class="box" id="Number-six-wales-left" style="cursor: pointer" onclick="showImageLeft('Number-six-sign-wales-left')">
            <i class="fa-solid fa-6" ></i>
            <div class="content">
                <p>Number Six</p>
            </div>
        </div>
    </div>
</section>
<section class="wrapper">
  <div class="left" id = "left">
    <div class = "video-container-left" id="video-container">
        <img id="video-feed-left" style="display: none;">
        <img id = "Number-six-sign-wales-left" src="../static/images/Number_six_w_left.png" alt="Number six in Walsh" style="display: none;">
    </div>
  </div>
  <div class="right">
    <div class="button-container">
        <button class ="btn-stop-l" onclick="stopVideo()"><i class="fa-solid fa-circle-stop" id = "stop-sign"></i> Stop Video</button>
    </div>

    <div class="button-container">
        <a href="{{ url_for('LeftNumberW') }}" class="btn-left">
            <i class="fa fa-hand-o-left" id = "left-sign" ></i>Left Handed
        </a>

    </div>
    <div class="button-container">
        <a href="{{ url_for('RightNumberW') }}" class="btn-right">
            <i class="fa fa-hand-o-right" id = "right-sign"></i>Right Handed
        </a>
    </div>
      <div class ="flags">
           <a href=" {{url_for('leftLesson')}}" class="left-flags">
               <img id="England-flag" src="../static/images/England-flag.jpg" style="cursor: pointer" onclick="goToPage('rightLesson.html')">
           </a>
           <a href=" {{url_for('LeftNumberW')}}" class="right-flags">
               <img id="Wales-flag" src="../static/images/wales.svg" style="cursor: pointer" onclick="goToPage('RightNumberW.html')">
           </a>
      </div>
  </div>
</section>
{% endblock %}