{% extends "layout.html" %}

{% block title %}
  Number lessons
{% endblock %}

{% block content %}

<section class="full-container" id="full-container">
    <div class="row">
        <div class="content">
            <h3>Learn the Digits Signs<span> (Left & England)</span></h3>
            <p>Welcome To our british sign language website (Digit lesson). This course is designed specifically for right-handed users who want to learn how to England sign number. In this course you learn How to sign number from 1-9
          </p>
        </div>
    </div>
</section>
<section class="count-full-container">
    <div class="box-container">
        <div class="box" id="Number-one-left" style="cursor: pointer" onclick="showImageLeft('one-left-sign')">
            <i class="fa-solid fa-1"></i>
            <div class="content">
                <p>Number One</p>
            </div>
        </div>
        <div class="box" id="Number-two-left" style="cursor: pointer" onclick="showImageLeft('two-left-sign')">
            <i class="fa-solid fa-2"></i>
            <div class="content">
                <p>Number Two</p>
            </div>
        </div>
        <div class="box" id="Number-three-left" style="cursor: pointer" onclick="showImageLeft('three-left-sign')">
            <i class="fa-solid fa-3"></i>
            <div class="content">
                <p>Number Three</p>
            </div>
        </div>
        <div class="box" id="Number-four-left" style="cursor: pointer" onclick="showImageLeft('four-left-sign')">
            <i class="fa-solid fa-4"></i>
            <div class="content">
                <p>Number Four</p>
            </div>
        </div>
        <div class="box" id="Number-five-left" style="cursor: pointer" onclick="showImageLeft('five-left-sign')">
            <i class="fa-solid fa-5"></i>
            <div class="content">
                <p>Number Five</p>
            </div>
        </div>
        <div class="box" id="Number-six-left" style="cursor: pointer" onclick="showImageLeft('six-left-sign')">
            <i class="fa-solid fa-6"></i>
            <div class="content">
                <p>Number Six</p>
            </div>
        </div>
        <div class="box" id="Number-seven-left" style="cursor: pointer" onclick="showImageLeft('seven-left-sign')">
            <i class="fa-solid fa-7" ></i>
            <div class="content">
                <p>Number Seven</p>
            </div>
        </div>
        <div class="box" id="Number-eight-left" style="cursor: pointer" onclick="showImageLeft('eight-left-sign')">
            <i class="fa-solid fa-8" ></i>
            <div class="content">
                <p>Number Eight</p>
            </div>
        </div>
        <div class="box" id="Number-nine-left" style="cursor: pointer" onclick="showImageLeft('nine-left-sign')">
            <i class="fa-solid fa-9" ></i>
            <div class="content">
                <p>Number Nine</p>
            </div>
        </div>
    </div>
</section>
<section class="wrapper">
  <div class="left" id = "left">
    <div class = "video-container-left" id="video-container">
        <img id="video-feed-left" style="display: none;">
        <img id = "one-left-sign" src="../static/images/Number_one.png" alt="" style="display: none;" >
        <img id = "two-left-sign" src="../static/images/Number_two.png" alt="" style="display: none;">
        <img id = "three-left-sign" src="../static/images/Number_three.png" alt="" style="display: none;">
        <img id = "four-left-sign" src="../static/images/Number_four.png" alt="" style="display: none;">
        <img id = "five-left-sign" src="../static/images/Number_five.png" alt="" style="display: none;">
        <img id = "six-left-sign" src="../static/images/Number_six.png" alt="" style="display: none;">
        <img id = "seven-left-sign" src="../static/images/Number_seven.png" alt="" style="display: none;">
        <img id = "eight-left-sign" src="../static/images/Number_eight.png" alt="" style="display: none;">
        <img id = "nine-left-sign" src="../static/images/Number_nine.png" alt="" style="display: none;">
    </div>
  </div>
  <div class="right">
    <div class="button-container">
        <button class ="btn-stop-l" onclick="stopVideo()"><i class="fa-solid fa-circle-stop" id = "stop-sign"></i> Stop Video</button>
    </div>

    <div class="button-container">
        <a href="{{ url_for('leftLesson') }}" class="btn-left">
            <i class="fa fa-hand-o-left" id = "left-sign" ></i>Left Handed
        </a>

    </div>
    <div class="button-container">
        <a href="{{ url_for('rightLesson') }}" class="btn-right">
            <i class="fa fa-hand-o-right" id = "right-sign"></i>Right Handed
        </a>

        </div>
       <div class ="flags">
           <a href=" {{url_for('leftLesson')}}" class="left-flags">
               <img id="England-flag" src="../static/images/England-flag.jpg" style="cursor: pointer" onclick="goToPage('rightLesson.html')">
           </a>
           <a href=" {{url_for('LeftNumberW')}}" class="right-flags">
               <img id="Wales-flag" src="../static/images/wales.svg" style="cursor: pointer" onclick="goToPage('RightNumberW.html')">
           </a>
      </div>
    </div>

  </div>
</section>
<section>
    <h2> Reference for images </h2>
    <p>https://www.british-sign.co.uk/british-sign-language/dictionary/</p>
</section>
{% endblock %}